body {
    width: 80%;
    margin: auto;
    font-family: Verdana, Helvetica, sans-serif;
    color: #444;
    }

h1 {
    background-color: #fac877;
    font-size: 40px;
    text-align: center;
    color: #9f461f;
    margin-bottom: 0;
    }

.center{
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    }

.subtitle {
    margin-top: 0;
    background-color: #c6c8e8;
    }

h2 {
    color: red;
    background-color: #c79090;
    font-size: 30px;
    border-bottom: solid 3px red;
    padding: 10px;
    }

ul {
    padding-left: 0;
    }

li {
    padding-left: 0;
    list-style-position: inside;
    }

.destaque {
        font-style:initial;
        font-size: larger;
        }

a {
    text-decoration: none;
    }

a:hover {
        text-decoration: underline;
        }

.menu {
    text-align: center;
    }

.menu li {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    }

.menu a {
    background-color: #c1bebe;
    padding: 16px;
    display: block;
    }

.menu a:hover {
    background-color: #c72473;
    color: #fff;
    text-decoration: none;
    }